@import "tailwindcss";


/* @keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.8s ease-out forwards;
}

.animate-fadeDown2 {
  animation: fadeDown 0.8s ease-out 0.15s forwards;
}

.animate-fadeDown3 {
  animation: fadeDown 0.8s ease-out 0.3s forwards;
} */